.app-container {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin: 0 auto;
    .display {
        background: grey;
        height: 100px;
        color: white;
        font-weight: bold;
        text-align: right;
        padding: 1px 10px;
        font-size: 60px;
    }
    .button-panel {
        justify-content: space-evenly;
        
        .group-1, .group-2, .group-3, .group-4, .group-5 {
            .button, .long-button {
                text-align: center;
                color: black;
                border: 1.5px solid grey;
                font-size: 20px;
            }
            .button {
                height: 100px;
                width: 25%;
            }
            .long-button {
                height: 100px;
                width: 50%;
            }
        }
    }
}